body {
  font-size: 0.9em;
  background-color: #A0A0A0;
}

div.content input.text {
  height: 30px;
  width: 400px;
}

header {
  height: 180px;
  border-bottom: #dddddd 1px solid;
  background-color: white;
}

header div {
  height: 180px;
}

header div.left {
  width: 30%;
}

header div.wider {
  width: 40%;
  text-align: center;
}

header div.right {
  width: 29%;
}

div.body {
  min-height: 600px;
  border-bottom: #dddddd 1px solid;
}

div.body div.content {
  float: left;
  max-width: 70%;
  padding: 20px 0px 0px 60px;
}

div.content div.like p {
  margin-bottom:0.50em;
  margin-top: 1.0em;
  font-size: 1.1em;
  font-weight: bold;
}

form.new_like {
  margin-left: auto;
  margin-right: auto;
}

div.content div.like p a {
  color: white;
  text-decoration: none;
}

div.body div.sidebar {
  width: 20%;
  float: right;
  border-left: #dddddd 1px solid;
  margin-top: 20px;
  color: #5f5f5f;
}

div.sidebar .login_box {
  margin-left: 8px;
  margin-right: auto;
}

div.login_box label {
  display: block;
  font-size: 1.1em;
}

div.login_box input {
  width: 200px;
}

div.menu_container {
  display: inline-block;
  height: 40px;
}

div.menu_container ul {
  list-style-type: none;
}

div.menu_container li {
  float: left;
  margin-right: 8px;
  font-size: 14px;
}

div.footer {
  width: 100%;
  text-align: center;
  color: #757575;
}

div.footer ul.footer_menu {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 20px;
}

div.footer ul.footer_menu li {
  float: left;
}

input.button {
  height: 42px;
  width: 80px;
}

form.new_like span {
  color: white;
  font-size:1.4em;
  font-weight: bold;
}

div.pages {
  margin-top: 20px;
  font-size: 1.4em;
}

div.pages a {
  
}