<!DOCTYPE html>
<html>
  <head>
    <title>
    	<F3:check if="{{@like->text}}">
    		<F3:true>
    			{{@like->text}}
    		</F3:true>
    		<F3:false>
    			LikeBench
    		</F3:false>
    	</F3:check>
    </title>
    
    <link type="text/css" rel="stylesheet" href="/css/blueprint/screen.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/css/custom-theme/jquery-ui-1.8.16.custom.css" />
    
    <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>

    <meta property="og:title" content="{{@like->text}}" />
    <meta property="og:url" content="http://{{@like->id}}.likebench.net/likes/{{@like->id}}" />
    <meta property="og:site_name" content="LikeBench" />
    <meta property="og:type" content="article" />

    <script type="text/javascript">
      <!--
      $(document).ready(function() {
				$("input[type=submit]").button();

				$(".menu_container").find("a").button();
      });
      -->
    </script>
  </head>
  <body>
    <header>
    	<div class="container">
      	<div class="wider">
					<a href="http://{{@host}}">
					  <img src="/images/likebench-logo.png" alt="LikeBench" width="400" />
					</a>
      	</div>
      </div>
      <div class="menu_container">
		 		<ul>
		    	<li><a href="/">Home</a></li>
		    	<li><a href="/">Newest Likes</a></li>
		    	<li><a href="/popular">Popular Likes</a></li>
		  	</ul>
			</div>
    </header>
  	<div class="container">
	    <div class="body">
	      <div class="content">
					{{@content}}
	      </div>
	      <div class="sidebar">
					<F3:check if="{{@logged_in}}">
					  <F3:false>
					    <div class="login_box facebook_login">
					      <p>Welcome to the LikeBench! <br/> Please login to create new likes.</p>
					      <fb:login-button show-faces="true" width="200" max-rows="1" perms="email">Login with Facebook</fb:login-button>
					    </div>
					  </F3:false>
					</F3:check>
					<span  class='st_facebook_large' ></span><span  class='st_twitter_large' ></span><span  class='st_linkedin_large' ></span>
					<g:plusone annotation="none"></g:plusone>
	      </div>
	      <div class="clear"></div>
	    </div>
	    <div class="footer">
	      <ul class="footer_menu">
					<li>Copyright &copy; 2011 |&nbsp;</li>
					<li><a href="http://teamaptitude.com" target="_blank">TeamAptitude</a> |&nbsp;</li>
					<li>A Magan and Paul Production</li>
	      </ul>
	    </div>
	    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js"></script>
	    <script type="text/javascript">
	      <!--
	      window.fbAsyncInit = function() {
					FB.init({
					  appId: '208264955898181',
					  status: true,
					  cookie: true,
					  xfbml: true
					});
					
					FB.Event.subscribe('edge.create', function(href, widget) {
					  $.post('/events/like', { href: href });
					});
	      }
	      -->
	    </script>
	    <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'ee9e5f4b-1502-41ba-8275-77d665e5ff79'});</script>
	    <script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
    </div>
  </body>
</html> 